<%- include('../partials/header') %>

<div class="container mt-4">
<h3>📊 Consumo de tóners</h3>

    <!-- Filtro por período -->
    
    <div class="row mb-4 equipos-search-box">
      <form method="GET" class="row mb-3   align-items-end">
        <div class="col-md-2">
            <label class="form-label">Desde</label>
            <input type="date" name="desde" class="form-control" value="<%= desde || '' %>">
        </div>
          
          <div class="col-md-2">
            <label class="form-label">Hasta</label>
            <input type="date" name="hasta" class="form-control" value="<%= hasta || '' %>">
          </div>



        
        <div class="col-md-1 text-center mt-2">
          <button class="btn btn-outline-primary btn-sm">
            <i class="fa-solid fas fa-search"></i>   Filtrar
          </button>
        </div>
        
        <div class="col-md-1 text-center mt-2">
          <a href="/dashboard/consumo" class="btn btn-outline-danger btn-sm">
            <i class="fa-solid fas fa-trash"></i> Limpiar
          </a>
        </div>
        <div class="col-md-1 text-center mt-2">
          <a
          href="/dashboard/consumo/exportar-excel?desde=<%= desde %>&hasta=<%= hasta %>"
          class="btn btn-outline-success btn-sm"
          >
          <i class="fa-solid fa-file-excel"></i> Exportar
        </a>
      </div>
    </form>
    </div>
      <!-- Total -->
    <div class="alert alert-info">
        <strong>Total consumido:</strong> <%= totalPeriodo %> tóners
    </div>

    <!-- Tabla -->
    <table class="table table-bordered table-sm mt-3">
        <thead class="table-dark">
        <tr>
            <th>Período</th>
            <th>Tóner</th>
            <th>Total consumido</th>
        </tr>
        </thead>
        <tbody>
        <% if (!consumo.length) { %>
            <tr>
            <td colspan="2" class="text-center">Sin datos</td>
            </tr>
        <% } %>

        <% consumo.forEach(c => { %>
            <tr>
            <td><%= c._id.periodo %></td>
            <td><%= c._id.marca %> <%= c._id.modelo %></td>
            <td><%= c.total %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer') %>
