<%- include('partials/header', { title: 'Entregas de productos' }) %>

<div class="container mt-4">
  <h2>Ultimas notas</h2>

  <div class="row my-3">
    <div class="col-md-6">
      <input type="text" class="form-control" id="busqueda" placeholder="Buscar por usuario, área, producto...">
    </div>
    <div class="col-md-3">
      <input type="date" class="form-control" id="filtroFecha">
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Usuario</th>
        <th>Área</th>
        <th>Cantidad</th>
        <th>Producto</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Fecha</th>
        <th>Imprimir</th>
      </tr>
    </thead>
    <tbody id="tablaEntregas">
      <% entregas.forEach(e => { %>
        <tr>
          <td><%= e.usuario?.nombre || 'N/A' %></td>
          <td><%= e.area %></td>
          <td><%= e.cantidad %></td>
          <td><%= e.producto && e.producto.tipo ? e.producto.tipo : '-' %></td>
          <td><%= e.producto && e.producto.marca ? e.producto.marca : '-' %></td>
          <td><%= e.producto && e.producto.modelo ? e.producto.modelo : '-' %></td>
          <td><%= new Date(e.fecha).toLocaleString() %></td>
          <td>
            <a href="/api/nota-entrega/<%= e._id %>" class="btn btn-sm btn-outline-secondary" target="_blank"> Imprimir
          </td>
          
        </tr>
      <% }) %>
    </tbody>
  </table>

  <div class="d-flex justify-content-between">
    <button class="btn btn-secondary" id="prevPage">Anterior</button>
    <button class="btn btn-secondary" id="nextPage">Siguiente</button>
  </div>
</div>


<%- include('partials/footer') %>
