<%- include('partials/header') %>

<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Gestión de Equipos</h3>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNuevoEquipo">
      ➕ Nuevo Equipo
    </button>   
  </div>

  <!-- FILTROS -->
  <div class="row mb-3">
    <div class="col-md-4">
      <input type="text" id="buscador" class="form-control" placeholder="🔍 Buscar por código, usuario, IP, hostname...">
    </div>

    <div class="col-md-4">
      <select id="selectArea" class="form-select">
        <option value="">Todas las áreas</option>
        <% areas.forEach(a => { %>
          <option value="<%= a._id %>"><%= a.nombre %></option>
        <% }) %>
      </select>
    </div>

    <div class="col-md-4">
      <select id="selectDependencia" class="form-select">
        <option value="">Todas las dependencias</option>
        <% dependencias.forEach(d => { %>
          <option value="<%= d._id %>"><%= d.nombre %></option>
        <% }) %>
      </select>
    </div>
  </div>

  <!-- TABS --> 
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">

      <button class="nav-link active" id="tabActivos" >
        <i class="fa-solid fa-desktop me-1"></i> Activos
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="tabBajas">
        <i class="fa-solid fa-arrow-down-wide-short me-1"></i> Bajas
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="tabTraspasos">
        <i class="fa-solid fa-right-left me-1"></i> Traspasos
      </button>
    </li>
    <li>
      <button class="nav-link" id="tabService"> 
        <i class="fa-solid fa-screwdriver-wrench me-1"></i> Service Equipo</button>
    </li>
  </ul>

  <!-- TABLA -->
  <table class="table table-hover align-middle" id="tablaEquipos">
    <thead class="table-dark"></thead>
    <tbody></tbody>
  </table>
</div>

<!-- ================= MODALES ================= -->



<!-- NUEVO EQUIPO -->
<div class="modal fade" id="modalNuevoEquipo" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <form class="modal-content" id="formNuevoEquipo">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Equipo</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <div class="row g-2">

          <div class="col-md-6">
            <label class="form-label">Área</label>
            <select class="form-select" name="area" required>
              <option value="">Seleccionar</option>
              <% areas.forEach(a => { %>
                <option value="<%= a._id %>"><%= a.nombre %></option>
              <% }) %>
            </select>
          </div>

          <div class="col-md-6">
            <label class="form-label">Dependencia</label>
            <select class="form-select" name="dependencia" required>
              <option value="">Seleccionar</option>
              <% dependencias.forEach(d => { %>
                <option value="<%= d._id %>"><%= d.nombre %></option>
              <% }) %>
            </select>
          </div>

          <div class="col-md-6">
            <la class="form-label">Usuario PC</label>
            <input class="form-control" name="usernamePc" placeholder="mborges" required>
          </div>

          <div class="col-md-6">
            <label class="form-label">Código Identificación</label>
            <input class="form-control" name="codigoIdentificacion" placeholder="PC-000" required>
          </div>

          <div class="col-md-6">
            <label class="form-label">Procesador</label>
            <input class="form-control" name="procesador" placeholder="Intel Core i5 6500 @ 3.20GHz">
          </div>

          <div class="col-md-6">
            <label class="form-label">RAM</label>
            <input class="form-control" name="ram" placeholder="8 GB">
          </div>

          <div class="col-md-6">
            <label class="form-label">Disco</label>
            <input class="form-control" name="disco" placeholder="500 GB SSD/1TB Rigido">
          </div>

          <div class="col-md-6">
            <label class="form-label">IP</label>
            <input class="form-control" name="ip" placeholder="10.240.21.xx">
          </div>

          <div class="col-md-6">
            <label class="form-label">Hostname</label>
            <input class="form-control" name="hostname" placeholder="recaudacion-01">
          </div>

          <div class="col-md-6">
            <label class="form-label">Nombre Apellido</label>
            <input class="form-control" name="nombreApellido" placeholder="María Borges">
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-success" type="submit">Guardar</button>
      </div>
    </form>
  </div>
</div>
<!-- DETALLE -->
<div class="modal fade" id="modalDetalleEquipo" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalle del Equipo</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="detalleEquipo"></div>
    </div>
  </div>
</div>
<!-- EDITAR -->
<div class="modal fade" id="modalEditarEquipo" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Equipo</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <input type="hidden" id="editId">

        <div class="row g-2">
          <div class="col-md-6">
            <label class="form-label">Área</label>
            <input id="editProcesador" class="form-control" placeholder="Procesador"></div>
          <div class="col-md-6">
            <label class="form-label">Dependencia</label>
            <input id="editRam" class="form-control" placeholder="RAM"></div>
          <div class="col-md-6">
            <label class="form-label">Código Identificación</label>
            <input id="editDisco" class="form-control" placeholder="Disco"></div>
          <div class="col-md-6">
            <label class="form-label">IP</label>
            <input id="editIp" class="form-control" placeholder="IP"></div>
          <div class="col-md-6">
            <label class="form-label">Hostname</label>
            <input id="editHostname" class="form-control" placeholder="Hostname"></div>
          <div class="col-md-6">
            <label class="form-label">Usuario PC</label>
            <input id="editUsernamePc" class="form-control" placeholder="Usuario PC"></div>
          <div class="col-md-6">
            <label class="form-label">Nombre y Apellido</label>
            <input id="editNombreApellido" class="form-control" placeholder="Nombre y Apellido"></div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" onclick="guardarEdicion()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- TRASPASO -->
<div class="modal fade" id="modalTraspaso" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Traspaso de Equipo</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <input type="hidden" id="traspasoId">
        <label class="form-label">Nueva Área</label>
        <select id="traspasoArea" class="form-select">
          <% areas.forEach(a => { %>
            <option value="<%= a._id %>"><%= a.nombre %></option>
          <% }) %>
        </select>
        <label class="form-label mt-2">Nueva Dependencia</label>
        <select id="traspasoDependencia" class="form-select">
          <% dependencias.forEach(d => { %>
            <option value="<%= d._id %>"><%= d.nombre %></option>
          <% }) %>
        </select>
        <label class="form-label mt-2">Nuevos Datos del Usuario</label>
        <input id="traspasoUsernamePc" class="form-control mb-2" placeholder="Usuario PC">
        <label class="form-label">Nombre y Apellido</label>
        <input id="traspasoNombreApellido" class="form-control mb-2" placeholder="Nombre Apellido">
      </div>

      <div class="modal-footer">
        <button class="btn btn-info" onclick="confirmarTraspaso()">Confirmar</button>
      </div>

    </div>
  </div>
</div>

<!-- SERVICE EQUIPO -->
<div class="modal fade" id="modalService" tabindex="-1">
  <div class="modal-dialog">
    <form id="formService" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <input type="hidden" id="codigoEquipo">
        <input type="hidden" id="equipoId">
      
        <div class="mb-3">
          <label class="form-label">Tipo</label>
          <select id="tipoService" class="form-select" required>
            <option value="">Seleccionar</option>
            <option value="ENTRADA">Entrada</option>
            <option value="SALIDA">Salida</option>
          </select>
        </div>
      
        <div class="mb-3">
          <label class="form-label">Descripción</label>
          <textarea id="descripcionService" class="form-control" rows="3" required></textarea>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Motivo de la baja</label>
        <textarea
          id="motivoBaja"
          class="form-control"
          rows="2"
          placeholder="Ej: equipo sin reparación"
        ></textarea>
      </div>      

      <div class="modal-footer justify-content-between">
        <button
          type="button"
          id="btnBajaEquipo"
          class="btn btn-outline-danger">
          Dar de baja
        </button>

        <button type="submit" class="btn btn-primary">
          Guardar service
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Confirmacion -->
<div class="modal fade" id="modalConfirm" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmTitle">Confirmar acción</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" id="confirmMessage">
        ¿Estás seguro?
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-danger" id="btnConfirmar">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>


<!-- TOAST -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="toastOk" class="toast text-bg-success border-0">
    <div class="d-flex">
      <div class="toast-body" id="toastMsg"></div>
      <button class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
</div>


<script src="/resources/js/equipos.js"></script>
<script src="/resources/js/equipoServicio.js"></script>
<%- include('partials/footer') %>
